@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Microsoft YaHei,Arial,Verdana,"\5b8b\4f53";
    color:rgb(102,102,102);
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:rgb(102,102,102); text-decoration:none; }
a:hover{color:#097ddb;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col{color: #097ddb!important;}

/*公共类*/
.main {  /*版心 提取 */
    width: 1200px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
.f_hd{
  position: relative;
  height: 54px;
}
.f_hd>h3{
  position: absolute;
  left:250px;
  top:23px;
  color:#fff;
  font-size:14px; 
  font-weight:normal;
}
.f_hd>a{
  float: right;
  margin:10px 10px 0 0;
  padding:0 20px;
  height: 34px;
  background-color: #fff;
  border-radius: 17px;
  text-align:center;
  font-size:16px;
  font-family: '宋体';
  line-height: 34px;
}
.tit{
  height: 47px;
  line-height: 47px;
  padding-left:20px;
  font-size:20px;
  background-color: #f3f3fd;
  border:1px solid #aeb5e3;
  color:#6870a0;
}
#foot{
  width: 100%;
  height: 567px;
}
/*头部导航*/
#shortcut{
    height: 40px;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    line-height: 40px;
    overflow: hidden;
}
#shortcut .city{
    position: relative;
    padding-left: 15px;
    font-size:14px;
    color: #999;
}
#shortcut .city a{
    font-size:12px;
}
#shortcut .city i{
    position: absolute;
    left:0px;top:10px;
    width: 12px;
    height: 18px;
    background: url(../images/shortcut.png) no-repeat;
}
#shortcut .fr li{
    float: left;
    padding:0 10px;
}
#shortcut .sprline,
#shortcut .welcome{
    letter-spacing: 0.5px;
    margin-right: 110px;
}
#shortcut .welcome{
  display: none;
}
#shortcut .welcome span,
#shortcut .welcome a{
  color:#f50;
}
#shortcut li.sub{
    position: relative;
    width: 78px;
    height: 40px;
    z-index: 10;
} 
#shortcut .sub .dt{
    padding:0 15px 0 8px;
    width: 60px;
}
#shortcut .sub .dt i{
    position: absolute;
    top: 18px;
    right:12px;
    width: 12px;
    height: 5px;
    background: url(../images/shortcut.png) no-repeat 0 -19px;
}
#shortcut .sub .dd{
    display: none;
    padding-left: 8px;
    line-height: 40px;
}
#shortcut .sub:hover .dd{
    display: block;
}
#shortcut .sub:hover i{
    background-position: 0 -25px;
}
#shortcut .sub:hover .dt{
    background-color: #fff;
    box-shadow: 1px 1px 2px 0 #ccc,-1px 0 2px 0 #ccc;
}
#shortcut li.car{
    position: relative;
    padding:0 25px;
    width: 60px;
}
#shortcut .car a b{
    position: absolute;
    top:13px;left:3px;
    width: 17px;
    height: 16px;
    background: url(../images/master1.png) no-repeat;
}
#shortcut .car a i{
    position: absolute;
    top:13px;left:86px;
    padding:0 4px;
    background-color: #fd6c00;
    color: #fff;
    border-radius:8px;
    text-align: center;
    line-height: 15px;
}
#shortcut .tel b{
    color:#fd6c00;
}
#header{
    padding:30px 0 10px 0;    
}
.logo{
    position: relative;
    float: left;
    height: 80px;
    width: 402px;
    background: url(../images/logo.gif) no-repeat 0 5px;
}
.logo .ss-a{
    display: block;
    padding-top: 5px;
    width: 198px;
    height: 75px;
    text-indent: -1000em;
}
.logo .dbl{
    position: absolute;
    top:0;left:178px;
    width: 200px;
    height: 80px;
}
.search{
    float: left;
    width: 500px;
    height: 40px;
}
.i-search{
    float: left;
    width: 410px;
    height: 36px;
    border: 2px solid #108bee;
    line-height: 36px;
}
.category_choose{
    position: relative;
    float: left;
    width: 99px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    z-index: 11;
    overflow: visible;
}
.category_choose span{
    display: block;
    padding-right: 20px;
    width: 79px;
    background-color: #f4f4f4;
    cursor: pointer;
}
.category_choose i{
    position: absolute;
    right:18px;
    top:16px;
    width: 9px;
    height: 5px;
    background: url(../images/header_icon.png) no-repeat -13px -28px;
}
.dropdown_choose{
    display: none;
    margin-left:-2px;
    border:1px solid #ccc;
    border-top: 2px solid #108bee;
    background-color: #fff;
}
.category_choose:hover .dropdown_choose{
    display: block;
}
.i-search .search_key{
    position: relative;
    float: left;
    width: 311px;
    height: 36px;  
}
.i-search input{
    float: left;
    padding-left: 6px;
    width: 305px;
    height: 36px;
    font-size:15px;
    font-family: 'Arial';
    line-height: 36px;
}
#shelper{
  position: absolute;
  left: -1px;top:38px;
  width: 311px;
  max-height: 300px;
  overflow: hidden;
  z-index: 999;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 2px 1px rgba(0,0,0,.2);
  list-style-type: disc;
  display:none;
}
#shelper>li{
    overflow: hidden;
    padding: 1px 10px;
    line-height: 24px;
    cursor: pointer;
}
#shelper>li:hover,#shelper>li.hover{
    background: #f5f5f5;
}
#shelper>li.focus{ background: lightBlue }
#shelper .search-item{
    color: #108bee;
    float: left;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search button{
    position: relative;
    float: right;
    padding-left: 20px;
    width: 86px;
    height: 40px;
    color: #fff;
    background-color: #108bee;
    font-size: 16px;
    line-height: 40px;
    cursor:pointer;
}
.search button i{
    position: absolute;
    top:12px;
    left:15px;
    width: 17px;
    height: 17px;
    background: url(../images/master1.png) no-repeat 0 -20px;
}
.qr_code{
    float: right;
    width: 160px;
    height: 73px;
}
.hotwords{
    float: left;
    padding-left: 100px;
}
.hotwords a{
    margin: 0 5px 0 1px;
    line-height:25px;
}
#nav{
    height: 38px;
    border-bottom: 2px solid #108bee;
}
.dropdown{
    position: relative;
    float: left;
    width: 220px;
    height: 38px;
    background-color: #008fd7;
    z-index: 10;
    overflow: visible;
}
.categorys{
    height: 38px;
}
.categorys a{
    display: block;
    padding-left: 40px;
    height: 38px;
    font-size: 16px;
    color:#fff;
    font-family: 'Microsoft YaHei';
    font-weight: 500;
    line-height: 38px;
}
.categorys i{
    position: absolute;
    top:15px;left:20px;
    width: 14px;
    height: 11px;
    background: url(../images/master1.png) no-repeat 0 -40px;
}
.navitems{
    float: left;
    height: 38px;
}
.navitems li{
    float: left;
    width: 106px;
}
.navitems li>a{
    display: block;
    color:#515151;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    text-align: center;
    line-height: 38px;
}
.navitems .new{
    background: url(../images/anm_new.gif) no-repeat top right;
}
.navitems .items{
    position: relative;
    z-index: 10;
    overflow: visible;
}
.navitems .items i{
    position: absolute;
    right:0px;
    top:16px;
    width: 11px;
    height: 5px;
    background: url(../images/header_icon.png) no-repeat -13px -28px;
}
.navitems .items3 i{
    right:9px;
}
.navitems .item_list{
    display: none;
    border:1px solid #108bee;
    background-color: #fff;
}
.navitems .items:hover .item_list{
    display: block;
}
.navitems .items:hover i{
    background-position: -1px -28px;
}
.navitems .item_list a{
    display: block;
    font-size:12px;
    text-align: center;
    line-height: 36px;    
}
.navitems .item_list a:hover{
    background: #108bee;
    color:#fff;
}
.new_protuct{
    position: relative;
    float: right;
    margin-top: -2px;
    width: 170px;
    height: 40px;
    overflow: hidden;
}
.new_protuct>div{
    position: absolute;
    height: 160px;
    animation:go 6s linear infinite;
}
.new_protuct:hover{
    animation-play-state:paused;
}
@keyframes go{
    25%{top:0;}
    50%{top:-40px;}
    75%{top:-40px;}
    100%{top:-80px;}
}
.dropdown .menu{
    position: relative;
   	display: none;
    height: 450px;
    border-top:2px solid #108bee;
    box-shadow: 1px 1px 1px #ccc inset,-1px -1px 1px #ccc inset;
    background-color: #fff;
}
.dropdown:hover .menu{
  display: block;
}
.dropdown .menu .item {
  padding: 5px 0 0 20px;
}
.dropdown .menu .item>h3 {
  color: #108bee;
  font-size: 16px;
  line-height: 30px;
}
.dropdown .menu .item h3 b {
  float: right;
  margin:10px 15px 0 0;
  width: 6px;
  height: 10px;
  background: url(../images/master1.png) 0 -60px;
}
.dropdown .menu .item > ul li {
  float: left;
  width: 90px;
  line-height: 26px;
  font-size: 14px;
}
.dropdown .menu .item > ul span,
.item_box_menu > .tops ul li span,
.item_box_menu > .middle ul li span {
  float: right;
  margin-right: 15px;
}
.item_box_menu {
  position: absolute;
  top: 0;
  left: 220px;
  width: 500px;
  height: 370px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px #ccc inset;
  display: none;
}
.item_box_menu > .tops,
.item_box_menu > .middle {
  padding:20px 0 0 30px;
  height: 89px;
}
.item_box_menu > .tops p,
.item_box_menu > .middle p {
  font-size: 16px;
  color: #108bee;
}
.item_box_menu > .tops ul,
.item_box_menu > .middle ul {
  margin-top: 5px;
}
.item_box_menu > .tops ul li,
.item_box_menu > .middle ul li {
  float: left;
  width: 110px;
  line-height: 30px;
  font-size: 14px;
}
.item_box_menu > .tops {
  border-bottom: 1px solid #ccc;
}
.item_box_menu > .bottom {
  position: absolute;
  bottom:0;
  left:0;
  height: 128px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.item_box_menu > .bottom img {
  border: 1px solid #ccc;
}
.item_box_menu > .middle {
  height: 90px;
}
.item_box_menu > .middle > ul > li {
  width: 94px;
  line-height: 25px;
}
.dropdown  .menu .fore1 {
  height: 110px;
}
.dropdown  .menu .fore2 {
  height: 58px;
}
.dropdown  .menu .fore3 {
  height: 87px;
}
.dropdown  .menu .fore4 {
  height: 58px;
}
.dropdown  .menu .fore5 {
  height: 112px;
}
.dropdown  .menu .item:hover {
  background-color: #e3edf6;
}
.dropdown  .menu .item:hover .item_box_menu {
  display: block;
}
/*右侧固定导航*/
.wh_online {
  position: fixed;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: #909090;
  z-index: 999;
}
.wh_online ul {
  position: absolute;
  right: 0;
  top: 25%;
}
.wh_online ul li {
  padding: 6px 8px;
  background-color: #909090;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  margin-top: 10px;
  letter-spacing: 1px;
  text-align: center;
}
.wh_online ul .collect_li{
  position: relative;
}
.wh_online ul .collect_li .col_img{
  position: absolute;
  left: 23px;
  top: 24px;
  width: 0px;
  height: 0px;
  opacity: 1;
}
.wh_online ul li:nth-child(1) {
  height: 60px;
  background-color: #108bee;
}
.wh_online ul li:nth-child(1) i {
  display: block;
  width: 30px;
  height: 26px;
  background: url(../images/online_spread2.gif) no-repeat;
}
.wh_online ul li a{
  color:#fff;
}
.wh_online ul li:nth-child(7) i {
  display: inline-block;
  width: 14px;
  height: 9px;
  background: url(../images/top2.png) no-repeat;
}
.wh_online ul li ~ li:hover {
  background-color: #5b5a5a;
  color: #78bdde;
}
#showdiv{
  position: fixed;
  top:0;left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 1080;
  display: none;
}
#alertMsg {
    width: 380px;
    border: 1px solid #ddd;
    height: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    padding: 21px;
    font-size: 12px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#alertMsg_info {
    width: 265px;
    height: 116px;
    line-height: 2em;
    text-align: center;
    color: #333333;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 52px;
    background-size: 9% auto;
}
#alertMsg_info b{
  display: block;
}
#alertMsg_btn1, #alertMsg_btn2 {
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 147px;
    padding-left: 0px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    background-color: #108bee;
}

#alertMsg_btn1 b, #alertMsg_btn2 b {
    line-height: 21px;
    display: inline-block;
    padding:  5px 15px;
    font-style: normal;
    font-size: 16px;
}
#headers {
  height: 110px;
  padding-bottom: 10px;
  border-bottom: 4px solid #108bee;
}
#headers > .main {
  height: 110px;
  position: relative;
}
#headers > .main #logo {
  position: absolute;
  bottom: 0px;
  width: 198px;
  height: 75px;
}
#headers > .main >h1{
  position: absolute;
  left: 198px;bottom:15px;
  font-size: 30px;
  font-weight: bold;
  color:#000;
  font-family: '宋体';
}